{% extends "layout.html" %}
{% block content %}

<!-- On load, sends welcome message to user --> 
<body onload="welcomeMessage()">

  <!-- Plain old HTML and jinja2 nav bar goes here
  <div>
    <a href="/">
      <img src="/static/images/Insta-logo.jpg" alt="Insta485"
        style="width: 50px;height: 50px;">
    </a>
    <div style="float:right;">
      <a href="/explore/">explore </a>
      |
      <a href="/users/{{logname}}/">
        {{logname}}
      </a>
    </div>
  </div>
  <hr>
  -->
  <!--<script type="text/javascript" src="/sketchy/js/index.jsx"></script>-->
  <script>
    var messages = [], //array that hold the record of each string in chat
        lastUserMessage = "", //keeps track of the most recent input string from the user
        botMessage = "", //var keeps track of what the chatbot is going to say
        botName = 'Sketchy', //name of the chatbot
        talking = true; //when false the speach function doesn't work
      
      //runs the keypress() function when a key is pressed
      document.onkeypress = keyPress;

      // sends welcome message and prompts user to ask question
      function welcomeMessage() {
        messages.push("<b>" + botName + ":</b> Hi there, welcome to Sketchy! To get started, ask a question about art.");
        document.getElementById("chatlog" + 1).innerHTML = messages[messages.length - 1];
      }

      //clears the placeholder text ion the chatbox
      //this function is set to run when the users brings focus to the chatbox, by clicking on it
      function placeHolder() {
        document.getElementById("chatbox").placeholder = "";
      }

      //if the key pressed is 'enter' runs the function newEntry()
      function keyPress(e) {
        var x = e || window.event;
        var key = (x.keyCode || x.which);
        if (key == 13 || key == 3) {
          //runs this function when enter is pressed
          newEntry();
        }
        if (key == 38) {
          console.log('hi')
          //document.getElementById("chatbox").value = lastUserMessage;
        }
      }

      //this runs each time enter is pressed.
      //It controls the overall input and output
      function newEntry() {
        //if the message from the user isn't empty then run
        console.log("Hello");
        if (document.getElementById("chatbox").value != "") {
          //pulls the value from the chatbox ands sets it to lastUserMessage
          lastUserMessage = document.getElementById("chatbox").value;
          //sets the chat box to be clear
          document.getElementById("chatbox").value = "";
          //adds the value of the chatbox to the array messages
          messages.push(lastUserMessage);
          //Speech(lastUserMessage);  //says what the user typed outloud
          //sets the variable botMessage in response to lastUserMessage
          chatbotResponse(lastUserMessage);
          //Speech(botMessage);
          //add the chatbot's name and message to the array messages
          messages.push("<b>" + botName + ":</b> " + botMessage);
          // says the message using the text to speech function written below
          Speech(botMessage);
          //outputs the last few array elements of messages to html
          for (var i = 1; i < 8; i++) {
            if (messages[messages.length - i])
              document.getElementById("chatlog" + i).innerHTML = messages[messages.length - i];
          }
        }
      }

   
      const chatbotResponse = async (lastUserMessage) => {
          input = lastUserMessage;
          let data = {
          ctx: { "question": input },
          name: "talk"
          }
        try {
          // NOTE: Change this URL to your Jaseci server URL.
          // NOTE: Change the token to your authenticated token
          let result = await fetch('http://localhost:8000/js/walker_run', {
            method: 'POST',
            mode: 'cors',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'token bf6c3138799af356cbec27da90de0f7476fd9e25059c83dc0dfdd339ff68dd5b'
            },
            body: JSON.stringify(data),
          })

          result = await result.json();

          const answer = result.report[0];

          botMessage = answer;

        } catch (error) {
          console.log(error)
        }
      } 
    

      //text to Speech
      //https://developers.google.com/web/updates/2014/01/Web-apps-that-talk-Introduction-to-the-Speech-Synthesis-API
      function Speech(say) {
        if ('speechSynthesis' in window && talking) {
          var utterance = new SpeechSynthesisUtterance(say);
          //msg.voice = voices[10]; // Note: some voices don't support altering params
          //msg.voiceURI = 'native';
          //utterance.volume = 1; // 0 to 1
          //utterance.rate = 0.1; // 0.1 to 10
          //utterance.pitch = 1; //0 to 2
          //utterance.text = 'Hello World';
          //utterance.lang = 'en-US';
          speechSynthesis.speak(utterance);
        }
      }  



  </script>
    
  <div id='bodybox'>
    <div id='chatborder'>
      <p id="chatlog7" class="chatlog">&nbsp;</p>
      <p id="chatlog6" class="chatlog">&nbsp;</p>
      <p id="chatlog5" class="chatlog">&nbsp;</p>
      <p id="chatlog4" class="chatlog">&nbsp;</p>
      <p id="chatlog3" class="chatlog">&nbsp;</p>
      <p id="chatlog2" class="chatlog">&nbsp;</p>
      <p id="chatlog1" class="chatlog">&nbsp;</p>
      <!--
      <form id="uploadImage">
        <input type="file" id="uploadphoto" name="photo" accept="image/png, image/jpeg, image/jpg" />
      </form> -->
      <!-- <label for="uploadimage">
        <div class="upload-icon">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>
      </label> -->
      <input type="text" name="chat" id="chatbox" onkeydown="keyPress(event)" placeholder="Type here to talk to me." onfocus="placeHolder()">

      {% if message %}
          <p>Painting favorited!</p>
      {% endif %}

    </div>
  </div> 

  <!--
  <div id="reactEntry">
    Loading ...
  </div>
  Load JavaScript
  <script type="text/javascript"
    src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  -->
</body>


{% endblock %}