<!DOCTYPE html>
<html lang="en">
<style>
    .box {
        border: 2px solid black;
        padding: 20px;
        display: flex;
    }

    .center {
        display: inline-block;
        height: 100%;
        vertical-align: middle;

    }
</style>

<title>insta485</title>


<div>
    <a href="/">
        <img src="/static/images/Insta-logo.jpg" alt="Insta485" style="width: 50px;height: 50px;">
    </a>
    <div style="float:right;">
        <a href="/explore/">explore </a>
        |
        <a href="/users/{{logname}}/">
            {{logname}}
        </a>
    </div>
</div>

<hr>

<b>Followers</b>
<br>

{% for follower in followers %}
<div class=box>
    <div class=center>
        <img class="center" src="{{url_for('upload_file', filename = follower['filename'])}}" alt="profile pic"
            style="width: 40px;height: 50px;float:left">
        <a href="/users/{{follower['username']}}/" class="center">
            {{follower['username']}}
        </a>
    </div>
    <div style="margin-left:auto">
        {% if logname != follower['username'] %}
        {% if follower['relationship'] == None %}
        not following
        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <form action="/following/?target=/users/{{user_url_slug}}/followers/" method="post"
            enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow" />
            <input type="hidden" name="username" value="{{follower['username']}}" />
            <input type="hidden" name="operation" value="follow" />
        </form>
        {% else %}
        following
        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <form action="/following/?target=/users/{{user_url_slug}}/followers/" method="post"
            enctype="multipart/form-data">
            <input type="submit" name="unfollow" value="unfollow" />
            <input type="hidden" name="username" value="{{follower['username']}}" />
            <input type="hidden" name="operation" value="unfollow" />
        </form>
        {% endif%}
        {% endif %}
    </div>
</div>
<br>
<br>
{% endfor %}



</html>