{% extends "layout.html" %}
{% block content %}

<style>
  #home-header {
    text-align: center;
    overflow: auto;
  }

  #home-text {
    overflow: auto;
  }
</style>
    
  <div id='bodybox'>
    <div id='chatborder'>
      <h1 id="home-header">Welcome to Sketchy! </h1>
      <h3>This is what Sketchy currently supports:</h3>
        <ol id="home-text">
          <li>Identify paintings by name and answer questions about them</li>
          <li>Save paintings you like and show them to you later</li>
          <li>Do a trivia session with fun facts about famous artists; try to beat your best score!</li>
        </ol>

      <h3>This is what Sketchy will be able to do soon:</h3>
        <ol id="home-text">
          <li>Identify paintings when you upload an image</li>
          <li>Identify paintings by description</li>
        </ol>
    </div>
  </div> 
  
{% endblock %}