{% extends "layout.html" %}
{% block content %}

<style>
  #user-header {
    text-align: center;
    overflow: auto;
  }

  #user-text {
    overflow: auto;
  }
</style>
    
  <div id='bodybox'>
    <div id='chatborder'>
      <h2 id="user-header">Welcome back, {{ username }}! </h2>

      <p id="user-text">Your best record in Trivia is <b>{{ trivia_best }} points</b>.</p>

      {% if fav %}
        <p id="user-text">One of your favorite paintings is <b>{{ fav }}</b>. You can see all your favorited painting by going to the Favorites tab!</p>
      {% else %}
        <p id="user-text"><b>It looks like you don't have any Favorite Paintings yet.</b> You can favorite any painting you see to look at it later!</p>
      {% endif %}

      <a href="{{url_for('logout')}}" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    </div>
  </div> 
  
{% endblock %}