<!DOCTYPE html>
<html lang="en">
<style>
    .box {
        border: 2px solid black;
        padding: 15px;
    }

    .center {
        display: block;
        margin: auto;
    }
</style>


<title>insta485</title>


<div>
    <a href="/">
        <img src="/static/images/Insta-logo.jpg" alt="Insta485" style="width: 50px;height: 50px;">
    </a>
    <div style="float:right;">
        <a href="/explore/">explore </a>
        |
        <a href="/users/{{logname}}/">
            {{logname}}
        </a>
    </div>
</div>

<hr>
<br>
<br>
<br>
{{logname}}
<br>
<!-- DO NOT CHANGE THIS -->
<form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
    <input type="submit" name="delete" value="confirm delete account" />
    <input type="hidden" name="operation" value="delete" />
</form>

</html>