<!DOCTYPE html>
<html lang="en">
<style>
    .box {
        border: 2px solid black;
        padding: 15px;
    }

    .center {
        display: block;
        margin: auto;
    }
</style>


<title>insta485</title>


<div>
    <a href="/">
        <img src="/static/images/Insta-logo.jpg" alt="Insta485" style="width: 50px;height: 50px;">
    </a>
    <div style="float:right;">
        <a href="/explore/">explore </a>
        |
        <a href="/users/{{logname}}/">
            {{logname}}
        </a>
    </div>
</div>

<hr>
<b>Explore</b>
<br>

{% for user in users %}
<div class=box>
    <div style="float:left">
        <img src="{{url_for('upload_file', filename = user['filename'])}}" alt="profile pic"
            style="width: 40px;height: 50px;">
        <a href="/users/{{user['username']}}/">
            <b>{{user['username']}}</b>
        </a>
    </div>
    <div style="float:right">
        <form action="/following/?target=/explore/" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow" />
            <input type="hidden" name="username" value="{{user['username']}}" />
            <input type="hidden" name="operation" value="follow" />
        </form>
    </div>
    <br>
    <br>
    <br>
</div>
<br>
<br>
{% endfor %}

</html>